.article-item {
  background-color: rgba(31, 86, 115, 0.4);
  padding: 1rem 0;
  width: 80%;
  margin: 0 10% 2rem 10%;
  display: flex;
  flex-direction: row;
  color: var(--primary);
  border-radius: 5px;
}

.article-item img {
  max-width: 40%;
  margin-left: 0.5rem;
  height: auto;
}

.article-content {
  padding: 0 1rem;
  width: 60%;
}

.article-date {
  font-size: 0.8rem;
  margin-bottom: 0.5rem;
}

.article-category {
  font-size: 0.8rem;
  margin-bottom: 0.5rem;
}

.article-titre {
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.article-description {
  font-size: 0.8rem;
}

.article-actions {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.delete-button {
  margin-top: 20%;
  padding: 5px 10px;
  font-size: .8rem;
  background-color: rgba(255, 255, 255, 0.1);
  color: white;
  border: 1px solid #fff;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(11px);
  -webkit-backdrop-filter: blur(11px);
}

.edit-button {
  margin-top: 20%;
  padding: 5px 10px;
  font-size: .8rem;
  background-color: rgba(255, 255, 255, 0.1);
  color: white;
  border: 1px solid #fff;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(11px);
  -webkit-backdrop-filter: blur(11px);
}
